@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definisyon pou klas "try" */
.try {
    color: blue; /* Koulè tèks la */
    font-size: 18px; /* Gwosè tèks la */
    font-weight: bold; /* Grasè tèks la */
    /* Lòt estilizasyon ou vle aplike */
}
